@import '../../index.css';

.add-isin-form{
    width: 100%;
    max-width: 32rem;
    background-color: var(--color-background2);
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .add-isin-button {
        
    }
}