.watch-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    .no-item{
        text-align: center;
        font-family: var(--font-bold);
    }
    .watch-list-item{
        background-color: var(--color-background3);
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        @media screen and (max-width: 768px) {
            .price{
                order: 1;
                width: 100%;
            }   
        }

        .isin-name{
              font-family: var(--font-bold);

        }

        .button.remove{
            background-color: var(--color-primary-red1);
            color: white;
            &:hover{
                background-color: var(--color-primary-red4);
            }
        }

        .is-expired{
            color: var(--color-primary-red4);
            padding-left: 0.2rem;
        }
    }
}