.message-component {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    width: auto;
    position: relative;
    min-width: 20rem;
    max-width: 100%;
    max-width: calc(100% - 2rem);
    opacity: 0;
    transition: 0.2s ease-in-out all;
    top: 1rem;
    &.open {
        opacity: 1;
        top: 1rem;
    }
}

.messages-wrapper{
    position: fixed;
    left: 1rem;
    top: 0;
    display: flex;
    flex-direction: column;
}