.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: fit-content;
  width: 100%;
  padding: 2rem;
  max-width: var(--max-width);
  background-color: var(--color-background3);
}

.button {
  border:none;
  padding: 0.5rem;
  background-color: var(--color-background5);
  box-shadow: 0;
  outline: none;

  &:hover{
    cursor: pointer;
    background-color: var(--color-background4);
  }
}