.message-component {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    position: fixed;
    width: auto;
    min-width: 20rem;
    max-width: 100%;
    max-width: calc(100% - 2rem);
    left: 1rem;
    opacity: 0;
    top: -1rem;
    transition: 0.5s all;
    &.open {
        opacity: 1;
        top: 1rem;
    }
}